
img{
    /* height: 100px; */
    width: 144px;
    /* border: 55px; */
    /* margin-left: 5px; */
    /* margin-right: 35px; */
    /* padding: 5px; */
    border: 1px solid tomato;
    padding: 0%;
}