<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project - Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>



        <div class="row" id="craiglist-listings">
            <div class="col">
                <h1>Latest Mars News</h1>
                <h5>{{ data_db.Title }}</h5>
                <p>{{ data_db.Paragraph }}</p>
                <br />


                <h1>Featured Mars Image</h1>
                <div class="col-md-8">
                    <img src="{{ data_db.ImageURL }}">
                </div>

                <div class="table-responsive">
                    {{ data_db.TableHTML }}
                </div>


                {% for data in data_db.ListImages %}
                <img src="{{ data.img_url }}">
                <p>{{data.title}}</p>
                {% endfor %}

            </div>
        </div>
    </div>
</body>

</html>