<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project - Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>
    <!-- Main -->
    <div class="container">
        <div class="row">
            <h3>Latest Mars News</h3>
            <div class="row">
                <h6>{{ data_db.Title }}</h6>
                <p>{{ data_db.Paragraph }}</p>
            </div>
            <div class="col-lg-8 summary">
                <h3>Featured Mars Image</h3>
                <img class="img-fluid" src="{{ data_db.ImageURL }}" style="width:100%">
            </div>
            <div class="col-lg-4 visualization">
                <div class=“container col-lg-4 col-md-4 “>
                    <h5 style=“margin-top: 10px;“>Mars Facts</h5>
                    <div style=“max-width: 450px; max-height: 100px; font-size: 15px; margin-bottom: 50px;” class=“table
                        table-striped”>
                        {{ data_db.TableHTML|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col visualization">
                    <article>
                        <h3>Mars Hemispheres</h3>
                        <hr>
                        <!-- <div class="borderbox"> -->
                        <div class="container">
                            {% for data in data_db.ListImages %}
                            <div class="row">
                                <div class="col">
                                    <img class="img-fluid" src="{{ data.img_url }}" style="width:100%">
                                    <br /><br />
                                    <p>{{data.title}}</p>
                                    <br />
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</body>

</html>